
<h1>San Jose's Weather</h1>
<p>Humidity : {{ weather.main.humidity }} </p>
<p>Temperature Avg : {{ weather.main.temp * 9/5 - 459.67}} </p>
<p>Temperature High : {{ weather.main.temp_max * 9/5 - 459.67}} </p>
<p>Temperature Low : {{ weather.main.temp_min * 9/5 - 459.67}} </p>
<p>Status : {{ weather.weather[0].description}} </p>
<img src="http://doubletree3.hilton.com/resources/media/dt/JOSE-DT/en_US/img/shared/full_page_image_gallery/main/dh_siliconvalley_2_677x380_FitToBoxSmallDimension_Center.jpg" width=300px alt="">